<!DOCTYPE html>
<html lang="en">

<th:block th:replace="~{fragments/head :: head(title='Machine Controller Endpoints')}"></th:block>
<link href="/css/machineHexagon.css" rel="stylesheet">

<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="hexagon-container">
    <div class="hexagon-wrap">
        <a href="/machines/new" class="hexagon hex1"><span>Save Machine</span></a>
    </div>
    <div class="hexagon-wrap">
        <a href="/machines/deleteMachine" class="hexagon hex2"><span>Delete Machine</span></a>
    </div>
    <div class="hexagon-wrap">
        <a href="/machines/listMachines" class="hexagon hex3"><span>List Machines</span></a>
    </div>
    <div class="hexagon-wrap">
        <a href="/machines/updateMachine" class="hexagon hex4"><span>Update Machine</span></a>
    </div>
    <div class="hexagon-wrap">
        <a href="/machines/findMachine" class="hexagon hex5"><span>Find Machine</span></a>
    </div>
    <div class="hexagon-wrap">
        <a href="/machines/fixtureMap" class="hexagon hex5"><span>Fixture Map</span></a>
    </div>
</div>

<th:block th:replace="~{fragments/scripts :: scripts}"></th:block>
</body>
</html>