.hexagon-container {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 500px;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hexagon-wrap {
    position: relative;
    filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 1));
}

.hexagon {
    width: 170px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    z-index: 1;
    transition: transform 0.5s ease;
}

.hexagon:hover {
    transform: scale(1.1);
}

.hex1 { background-image: url('../images/saveMachine.PNG');
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;}
.hex2 { background-image: url('../images/deleteMachine.PNG');
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;}
.hex3 { background-image: url('../images/listMachine.PNG');
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;}
.hex4 { background-image: url('../images/updateMachine.PNG');
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;}
.hex5 { background-image: url('../images/findMachine.PNG');
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;}